# BEGIN linuxcbt hosts
172.31.43.107 linuxcbtserv3.linuxcbt.internal linuxcbtserv3
172.31.43.107 site1.linuxcbt.internal
172.31.35.154 linuxcbtserv2.linuxcbt.internal linuxcbtserv2
172.31.44.229 linuxcbtserv1.linuxcbt.internal linuxcbtserv1
# END linuxcbt hosts