<VirtualHost *:80>
    ServerAdmin ansible@linuxcbtserv1.linuxcbt.internal
    ServerName site1.linuxcbt.internal
    DocumentRoot {{ document_root }}
    <Directory {{ document_root }}>
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
